<h1>Lista de Post</h1>

<% @posts.each do |post| %>
  <div align="center">
    <h2><%= post.title %>:</h2>
    <hr>
    <p>Contenido: <%= post.coment %></p>
    <b>Autor: <%= post.name %></b>
    <div>
      <%= link_to 'Ver', post %>
      <%= link_to 'Editar', edit_post_path(post) %>
      <%= link_to 'Eliminar', post, :method => :delete, :data => { :confirm => 'Está seguro?' } %>
    </div>
    <br />
    <hr>
  </div>
<% end %>


<br />

<%= link_to 'New Post', new_post_path %>
